[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt/
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib/
[submodule "modules/ruby"]
	path = modules/ruby
	url = https://github.com/puppetlabs/puppetlabs-ruby
[submodule "modules/wp"]
	path = modules/wp
	url = https://github.com/rmccue/puppet-wp.git
[submodule "app/plugins/acf-code"]
	path = app/plugins/acf-code
	url = https://github.com/mbovel/acf-code.git
[submodule "app/theme"]
	path = app/theme
	url = https://github.com/Deester4x4jr/flo-theme-2017.git
[submodule "theme"]
	path = theme
	url = https://github.com/Deester4x4jr/flo-theme-2017.git
