// Site header

.site-header {
  position: fixed;
  @include fluid-type(rem-calc($container-mobile), rem-calc($grid-base-size), rem-calc(50px), rem-calc(80px), height);
  width: 100%;
  z-index: 10000;
  background: rgba(0, 216, 141, 1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  transition: 0.3s opacity ease;
  opacity: 0.25;

  &:hover {
    opacity: 1;
  }

  .container {
    padding: 0;
  }

  .nav-left,
  .nav-right {

    @include column(4/10);

    @media(max-width: ($responsivenav)-1px) {
      display: none;
    }

    .nav-collapse {

      @media(min-width: $responsivenav) {
        @include column(10/10);

        // Set these based on the logo size
        // Might change once we actually put nav in there
        padding-top: 40px;
        padding-bottom: 40px;

        ul {
          float: right;
        }
      }
    }
  }

  .site-branding {
    overflow: hidden;

    @media(min-width: $responsivenav) {
      @include column(2/10);
    }

    @media(max-width: ($responsivenav)-1px) {
      @include centered;
    }

    .site-title {
      overflow: hidden;
      margin: 0;

      a, img {
        display: block;
      }

      img {
        max-height: 60%;
        @include vertical-align;
      }
    }
  }

  & .container,
  & .site-branding,
  & .site-branding .site-title,
  & .site-branding .site-title a {
    height: 100%;
  }
}
